@import './reset.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

body {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  background-color: $gray-light;
  font-size: $font-size-normal;
}

.shadow {
  box-shadow: $shadow;
}
