// Colors
$gray-light: rgb(233, 235, 243);
$gray: rgb(138, 140, 146);
$gray-dark: rgb(56, 56, 59);

// Typography
$font-family-base: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
$font-weight-normal: 400;
$font-weight-thick: 700;
$font-size-normal: 1rem;
$font-size-lg: 2rem;

// Composition
$gutters: 1rem;
$corners: 4px;

// Shadows
$shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
$shadow-md: 0 4px 8px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.08);
$shadow-lg: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);





